[Unit]
Description=MineOS webui startup script

[Service]
Type=forking
ExecStart=/usr/mineos3/server.py -c /etc/mineos.conf
User=root
PIDFile=/run/mineos.pid

[Install]
WantedBy=multi-user.target